.map_element {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 10px;
}

.body {
  width: 50%;
}